//
//
// user.scss
//
// Place your own theme CSS or SCSS rules below this line, these rules will override any Bootstrap and theme variables.

@include media-breakpoint-only(md) {
  .modal-md-wide {
    max-width: 90%;
  }
}

.top-right {
  top: 0px;
  right: 0px;
}

.items-3 {
  flex-basis: calc(33.333333% - 10px);
}

.max-w-440 {
  max-width: 440px;
}

.color-inherit {
  color: inherit;
  &:hover {
    color: inherit;
  }
}

.spinner-large {
  height: 5rem;
  width: 5rem;
}

.box-shadow-inherit {
  box-shadow: inherit;
}
